html{
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

main{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 500px;
    height: 220px;

    input{
        margin-top: 30px;
        width: calc(100% - 15px);
        height: 25px;
    }

    #btn_resend{
        position: absolute;
        right: 120px;
        bottom: 10px;
    }

    #btn_continue{
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}