:root {
    --video_preview_background_color: rgb(82, 82, 82);
    --video_preview_video_info_background_color: rgb(17, 17, 17);
}

header {
    display: flex;
    align-items: center;
    gap: 10px;

    & #txt_main_search {
        flex: 1;

        height: 28px;

        margin-right: -10px;

        border-radius: 10px 0 0 10px;
    }

    & #btn_main_search {
        border-radius: 0 10px 10px 0;
    }
}

main {

    .video_preview {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;


        & .video_preview_block {
            position: relative;
            width: 300px;
            height: 160px;
            background-color: var(--video_preview_background_color);

            cursor: pointer;

            & .img_video_preview {
                width: 300px;
                height: 160px;
            }

            & .pnl_video_video_info {
                position: absolute;
                bottom: 0;

                background: linear-gradient(0deg, var(--video_preview_video_info_background_color) 0%, rgba(120, 120, 120, 0) 100%);

                width: 300px;
                height: 20px;

                & .lbl_video_name {
                    position: absolute;
                    left: 0;
                    bottom: 0;

                    margin: 0;
                }

                & .lbl_video_view_count {
                    position: absolute;
                    right: 0;
                    bottom: 0;

                    margin: 0;
                }
            }
        }
    }

}