a {
    color: inherit;


    cursor: pointer;
}

header {
    margin: 10px auto;
    width: calc(90% - 20px);
    max-width: var(--general_max_width);

    border-radius: 10px;

    background-color: var(--header_background_color);

    padding: 10px;
}

main {
    margin: 20px auto;
    width: calc(90% - 20px);
    max-width: var(--general_max_width);

    border-radius: 10px;

    background-color: var(--main_background_color);

    padding: 10px;
}

footer {
    margin: 20px auto;
    width: calc(90% - 20px);
    max-width: var(--general_max_width);

    border-radius: 10px;

    background-color: var(--footer_background_color);

    padding: 10px;
}

button {
    width: 100px;
    height: 30px;
    background-color: var(--buttom_background_color);

    border: 0;
    border-radius: 10px;

    color: var(--text_color);

    cursor: pointer;
}

button:hover {
    background-color: var(--button_background_color_hover);
}

input,
textarea {
    margin: 5px;
    width: 200px;
    height: 20px;


    background-color: var(--input_text_background_color);
    color: var(--text_color);

    border: 0;
}

input::placeholder,
textarea::placeholder {
    color: var(--input_placeholder_color);
}