a{
    color:inherit;
    text-decoration: none;

    cursor:pointer;
}

header{
    margin: 10px auto;
    width: calc(90% - 20px - (var(--header_border_size) * 2));
    max-width: var(--general_max_width);

    border: var(--header_border_size),var(--header_border_style),var(--header_border_color);
    border-radius: 10px;

    background-color:var(--header_background_color) ;

    padding: 10px;
}

main{
    margin: 20px auto;
    width: calc(90% - 20px);
    max-width: var(--general_max_width);

    box-shadow: 0px 0px 20px 2px #38383888;
    border-radius: 10px;

    padding: 10px;
}