:root{
    --page_background_color:#09123b;
    --text_color:whitesmoke;

    /* POSITION */
    --general_max_width: 1300px;

    /* HEADER */
    --header_background_color:#0c184d;

    --header_border_size: 2px;
    --header_border_color:rgb(202, 202, 202);
    --header_border_style:solid;
}