:root {
    --page_background_color: #272727;
    --text_color: whitesmoke;
    --panel_background_color:#555555;
    --panel_background_color_hover:#666666;

    /* POSITION */
    --general_max_width: 1300px;

    /* HEADER */
    --header_background_color: #353535;

    /* MAIN */
    --main_background_color: #353535;

    /* FOOTER */

    --footer_background_color:#353535;

    /* BUTTON */
    --buttom_background_color: #555555;
    --button_background_color_hover: #666666;
    --button_border:1px whitesmoke solid;

    --button_backgorund_color_click:rgb(0, 105, 0);
    --button_background_color_selected:rgb(0, 105, 0);
    --button_background_color_selected_hover:rgb(0, 146, 0);


    /* INPUT */
    --input_text_background_color: #555555;
    --input_placeholder_color:rgb(194, 194, 194);

    /* WARNINGS */
    --warning_alert_background_color:#775b05;
    --warning_error_background_color:rgb(126, 0, 0);
    --warning_notice_background_color:rgb(49, 49, 216);
    --warning_btn_close_border_color:whitesmoke;
}