.warning_box {
    position: fixed;
    top:20px;
    right: 20px;
    width: 400px;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    align-items: center;
    gap:10px;

    z-index: 999999;

    h3, p{
        margin: 0;
    }
}

.warning_box.alert{
    background-color: var(--warning_alert_background_color);
}
.warning_box.error{
    background-color: var(--warning_error_background_color);
}
.warning_box.notice{
    background-color: var(--warning_notice_background_color);
}

.warning_box .warning_btn_close{
    position: absolute;
    right: 10px;
    width: 30px;

    border: solid 1px var(--warning_btn_close_border_color);
}